body {
  background: black;
  color: #fff;
}

.list {
  max-width: 100%;
  width: 75%;
}

.list img{
  position: relative;
  display: inline;
  width: 85px;
  height: 85px;
  border-radius: 65%;
  padding: 10px;
}