body {
  background: black;
  color: #fff;
  
}

.list ul {
  position: absolute;
}

.list li {
  list-style: none;
}

.list img{
  position: relative;
  display: inline;
  width: 55px;
  height: 55px;
  border-radius: 65%;
}