body
{ 
font-size: 10px;
width: 100%;
}

.menu
{
overflow-x: scroll;
display: inline-flex;
}

.menu button
{
margin-right: 15px;
}

.feed
{
  width: 90%;
 padding: 5px;
  }

.feed h3
{
background: black;
color: #fff;
text-align: center;
font-size: 20px;
margin: none 0 0 0;
}
.bottom
{
width: 90%;
background: #6a1b9a;
margin: 5px;
display: inline-block;
color: #fff;
  
}

.bottom li
{
  list-style: none;
}

.feed figure
{
width: 240px;
height: 180px;

}

.feed figcaption 
{ background: #bdbdbd;
 border-radius: 5%;
 width: 240px;
}

.feed img
{width: 250px;
  height: 180px;
  border-radius: 5%;
}

.brasileiro 
{
height: 150px;
padding: 5px;
margin: 7px;
width: 90%;
border-radius: 13px;
overflow: scroll;
color: white; 
background: #302a2a;
background: linear-gradient(60deg, rgba(48, 42, 42, 1) 8%, rgba(151, 13, 189, 1) 40%, rgba(1, 10, 10, 10.67) 70%);}

.pilotos
{ height: 150px;
padding: 5px;
margin: 7px;
width: 90%;
border-radius: 13px;
overflow: scroll;
color: white;
background: #302a2a;
background: linear-gradient(60deg, rgba(48, 42, 42, 1) 8%, rgba(151, 13, 189, 1) 40%, rgba(1, 10, 10, 10.67) 70%);}

.tabela 
{
padding: 5px;
text-align: center;
border-radius: 8px;

}

table { border-collapse: collapse;
width: 90%;
}

table th
{
width: 50px;
}

table td
{
padding-top: 10px;  
}

.equipes 
{
height: 150px;
padding: 5px;
margin: 7px;
width: 90%;
border-radius: 13px;
overflow: scroll;
color: white;
background: #302a2a;
background: linear-gradient(60deg, rgba(48, 42, 42, 1) 8%, rgba(151, 13, 189, 1) 40%, rgba(1, 10, 10, 10.67) 70%);}

.tabela img 
{
width: 20px;
height: 20px;
}

#chassi img 
{
width: 100px;
height: 17px;
}

#logo img
{
border-radius: 50%;
width: 20px;
}


