body
{ 
font-size: 10px;
width: 100%;
position: absolute;
}

.main
{
max-height: 70%;
display: inline-flex;
margin: 5px;
}

.sidebar
{
  max-width: 90%;
  background: black;
  overflow: scroll;
  margin: none;
  }

.bottom
{
max-height: 20%;
max-width: 90%;
background: blue;
height: 25px;
margin: 10px;
}

.sidebar figure
{
overflow: hidden;
}

.sidebar figcaption 
{ background: #bdbdbd;
 border-radius: 5%;
}

.sidebar img
{width: 230px;
  height: 100px;
  border-radius: 5%;
}

.brasileiro 
{
padding: 5px;
margin: 20px;
height: 190px;
width: 300px;
border-radius: 13px;
overflow-x: scroll;
overflow-y: scroll;
}

.pilotos
{ padding: 5px;
  margin: 20px;
  height: 190px;
  width: 300px;

  border-radius: 13px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.tabela 
{
overflow: scroll;
padding: 8px;
text-align: center;
border-radius: 8px;
margin: 15px;


}

tr 
{
border: 1px solid black;
}
.tabela th
{
padding: 15px;
}

.equipes 
{
padding: 5px;
margin: 20px;
height: 190px;
width: 300px;
background: black;
border-radius: 13px;
overflow: scroll;
}

.tabela img 
{
width: 20px;
height: 20px;
}

#chassi img 
{
width: 100px;
height: 17px;
}

#logo img
{
border-radius: 50%;
width: 20px;
}


