body
{ 
display: flex;
font-size: 10px;
width: 100%;
}

.main
{
max-width: 65%;

}

.sidebar
{
  max-width: 30%;
  background: black;
  margin: none;
}

.sidebar figure
{
overflow: hidden;
}

.sidebar figcaption 
{ background: #bdbdbd;
 border-radius: 5%;
}

.sidebar img
{width: 230px;
  height: 100px;
  border-radius: 5%;
}

.brasileiro 
{
padding: 5px;
height: 190px;
border-radius: 13px;
overflow-x: scroll;
overflow-y: scroll;
}

.pilotos
{ padding: 5px;
  height: 190px;
  border-radius: 13px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.tabela 
{
border-collapse: collapse;
overflow: scroll;
background: #bdbdbd;
padding: 8px;
text-align: center;
border-radius: 8px;


}

.tabela th
{
padding: 15px;
}

.equipes 
{
padding: 5px;
height: 190px;
border-radius: 13px;
overflow-x: scroll;
overflow-y: scroll;
}

.tabela img 
{
width: 20px;
height: 20px;
}

#chassi img 
{
width: 100px;
height: 17px;
}

#logo img
{
border-radius: 50%;
width: 20px;
}


