body
{ 
display: flex;
font-size: 10px;
}

.sidebar
{
  max-width: 30%;
}

.sidebar figcaption 
{ background: black;
 color: #fff;
 border-radius: 5%;
}

.sidebar img
{width: 230px;
  height: 100px;
  border-radius: 5%;
}

.pilotos
{ margin: 15px;
  padding: 5px;
  height: 190px;
  border-radius: 13px;
  overflow-x: scroll;
  overflow-y: scroll;
  background: #424242;
  max-width: 67%;
}

.tabela 
{border-collapse: collapse;
  overflow: scroll;
}

.tabela img 
{
  width: 25px;
  height: 25px;
}

.tabela th 
{
  padding: 15px;
}

.tabelaBR table 
{
  border-collapse: collapse;
  text-align: center;
}

.tabelaBR img 
{
  width: 40px;
  height: 40px;
}

.tabelaBR th
{
  padding: 10px;
}
#chassi img 
{
  width: 150px;
  height: 25px;
  margin: 5px;
}

#logo img
{
  border-radius: 50%;
  width: 30px;
  margin: 5px;
}
.equipes 
{
  margin: 15px;
  padding: 5px;
height: 190px;
border-radius: 13px;
overflow-x: scroll;
overflow-y: scroll;
background: #424242;
max-width: 67%;
}

.brasileiro 
{
padding: 5px;
height: 190px;
border-radius: 13px;
overflow-x: scroll;
overflow-y: scroll;
background: #424242;
margin: 15px;
max-width: 67%;
}
