body
{ 
font-size: 10px;
width: 100%;
position: absolute;
}

.main
{
height: 220px;
width:90%;
display: inline-flex;
margin: 5px;
border-radius:10px ;
color: #fff;
background: #6a1b9a;
overflow-y: scroll;
}

.sidebar
{
  width: 90%;
 margin: 5px;
 padding: 10px;

  }

.bottom
{
width: 90%;
background: #6a1b9a;
margin: 5px;
display: inline-block;
color: #fff;
  
}

.bottom li
{
  list-style: none;
}

.sidebar figure
{
width: 240px;
height: 120px;

}

.sidebar figcaption 
{ background: #bdbdbd;
 border-radius: 5%;
 width: 240px;
}

.sidebar img
{width: 140px;
  height: 100px;
  border-radius: 5%;
}

.brasileiro 
{
padding: 5px;
margin: 7px;
width: 220px;
border-radius: 13px;
}

.pilotos
{ padding: 5px;
  margin: 7px;
  width: 310px;

  border-radius: 13px;
}

.tabela 
{
padding: 8px;
text-align: center;
border-radius: 8px;
margin: 5px;

}

tr 
{
margin: 5px;}

.td 
{ border-collapse: collapse;
}

.tabela th
{
padding: 5px;
}

.equipes 
{
padding: 5px;
margin: 7px;
width: 310px;
border-radius: 13px;
}

.tabela img 
{
width: 20px;
height: 20px;
}

#chassi img 
{
width: 100px;
height: 17px;
}

#logo img
{
border-radius: 50%;
width: 20px;
}


