body
{ 
font-size: 10px;
width: 100%;
position: absolute;
}

.main
{
max-height: 65%;
height: 220px;
max-width:90%;
display: inline-flex;
margin: 5px;
border-radius:10px ;
color: #fff;
background: #6a1b9a;
overflow: scroll;
}

.sidebar
{
 margin: 5px;
 padding: 10px;

  }

.bottom
{
max-height: 20%;
background: blue;
height: 25px;
margin: 5px;
}

.sidebar figure
{
margin: 5px;
width: 220px;
height: 120px;
display: inline-block;

}

.sidebar figcaption 
{ background: #bdbdbd;
 border-radius: 5%;
}

.sidebar img
{width: 230px;
  height: 100px;
  border-radius: 5%;
}

.brasileiro 
{
padding: 5px;
margin: 7px;
width: 220px;
border-radius: 13px;
}

.pilotos
{ padding: 5px;
  margin: 7px;
  width: 310px;

  border-radius: 13px;
}

.tabela 
{
padding: 8px;
text-align: center;
border-radius: 8px;
margin: 5px;

}

tr 
{
margin: 5px;}

.tabela th
{
padding: 5px;
}

.equipes 
{
padding: 5px;
margin: 7px;
width: 310px;
border-radius: 13px;
}

.tabela img 
{
width: 20px;
height: 20px;
}

#chassi img 
{
width: 100px;
height: 17px;
}

#logo img
{
border-radius: 50%;
width: 20px;
}


