body
{ 
display: flex;
font-size: 10px;
overflow: hidden;
}

.sidebar
{
  max-width: 30%;
}

.sidebar figcaption 
{ background: #bdbdbd;
 border-radius: 5%;
}

.sidebar img
{width: 230px;
  height: 100px;
  border-radius: 5%;
}

.brasileiro 
{
padding: 5px;
height: 190px;
border-radius: 13px;
overflow-x: scroll;
overflow-y: scroll;
margin: 15px;
max-width: 67%;
}

.pilotos
{ margin: 15px;
  padding: 5px;
  height: 190px;
  border-radius: 13px;
  overflow-x: scroll;
  overflow-y: scroll;
  max-width: 67%;
}

.tabela 
{
border-collapse: collapse;
overflow: scroll;
background: #bdbdbd;
padding: 10px;
text-align: center;

}

.tabela th
{
padding: 15px;
}

.equipes 
{
margin: 15px;
padding: 5px;
height: 190px;
border-radius: 13px;
overflow-x: scroll;
overflow-y: scroll;
max-width: 67%;
}

.tabela img 
{
  width: 25px;
  height: 25px;
}

#chassi img 
{
  width: 150px;
  height: 25px;
  margin: 5px;
}

#logo img
{
  border-radius: 50%;
  width: 30px;
  margin: 5px;
}


