body
{ 
font-size: 10px;
width: 100%;
}

.sidebar
{
  width: 90%;
 margin: 5px;
 padding: 10px;

  }

.bottom
{
width: 90%;
background: #6a1b9a;
margin: 5px;
display: inline-block;
color: #fff;
  
}

.bottom li
{
  list-style: none;
}

.sidebar figure
{
width: 240px;
height: 120px;

}

.sidebar figcaption 
{ background: #bdbdbd;
 border-radius: 5%;
 width: 240px;
}

.sidebar img
{width: 250px;
  height: 100px;
  border-radius: 5%;
}

.brasileiro 
{
height: 150px;
padding: 5px;
margin: 7px;
width: 90%;
border-radius: 13px;
overflow: scroll;
background: purple;
color: #fff;
}

.pilotos
{ height: 150px;
padding: 5px;
margin: 7px;
width: 90%;
border-radius: 13px;
overflow: scroll;
background: purple;
color: white;
}

.tabela 
{
padding: 5px;
text-align: center;
border-radius: 8px;

}

table { border-collapse: collapse;
}

table th
{
width: 50px;
}

table td
{
padding-top: 15px;  
border-bottom: 1px solid white;
}

.equipes 
{
height: 150px;
padding: 5px;
margin: 7px;
width: 90%;
border-radius: 13px;
overflow: scroll;
background: purple;
color: #fff;
}

.tabela img 
{
width: 20px;
height: 20px;
}

#chassi img 
{
width: 100px;
height: 17px;
}

#logo img
{
border-radius: 50%;
width: 20px;
}


